<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<header style="background-color: #003366; color: white; padding: 10px; text-align: center;">
  RottenPotatoes
</header>

<div style="text-align: center; margin: 20px 0;">
  <%= link_to "Add New movie", new_movie_path, class: "btn btn-primary box-button" %>
</div>



<div id="movies">
  <% if @movies.any? %>
    <table>
      <thead>
        <tr>
          <th>
            <%= link_to "Title", movies_path(sort: "title", direction: sort_direction("title")) %>
            <span><%= sort_direction("title") == "asc" ? "▲" : "▼" %></span>
          </th>
          <th>
            <%= link_to "Rating", movies_path(sort: "rating", direction: sort_direction("rating")) %>
            <span><%= sort_direction("rating") == "asc" ? "▲" : "▼" %></span>
          </th>
          <th>
            <%= link_to "Release Date", movies_path(sort: "release_date", direction: sort_direction("release_date")) %>
            <span><%= sort_direction("release_date") == "asc" ? "▲" : "▼" %></span>
          </th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @movies.each do |movie| %>
          <tr>
            <td><%= movie.title %></td>
            <td><%= movie.rating %></td>
            <td><%= movie.release_date.strftime("%d-%b-%Y") %></td>
            <td><%= movie.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No movies available.</p>
  <% end %>
</div>
